/* About Section Styling */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .about-content {
    flex: 1 1 500px;
    margin: 20px;
  }
  
  .about-heading {
    font-size: 2.5rem;
    color: #141E30;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideInLeft 1.5s ease;
  }
  
  .about-intro,
  .about-details {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease;
  }
  
  .about-image {
    padding-top: 10px;
    margin-top: 40px;
    flex: 1 1 100px;
    text-align: center;
  }
  
  .about-image img {
    max-width: 80%;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    animation: zoomIn 1.5s ease;
  }
  
  /* Animations */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
    }
  
    .about-heading {
      font-size: 2rem;
    }
  
    .about-intro,
    .about-details {
      font-size: 1rem;
    }
  
    .about-image img {
      width: 200px;
      height: auto;
    }
  }
  

.resume-link {
  font-size: 1.1rem;
  color: #f0a500;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #f0a500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-link:hover {
  background-color: #f0a500;
  color: #fff;
}